@model jwhitehead_FinancialPortal.Models.ApplicationUser


@{
    ViewBag.Title = "Confirm Joining Household";
}

<h2>Confirm Joining Household</h2>

        <h4>Please enter the email of a person you would like to invite to join your household.</h4>
        <hr />

<div>
    <a href="@Url.Action("Index","Households")" class="btn btn-primary">Join Household</a>
    <a href="@Url.Action("Index","Home")" class="btn btn-danger">No Thanks</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
