@model jwhitehead_FinancialPortal.Models.CodeFirst.Household


@{
    ViewBag.Title = "Confirm Joining Household";
}

<h2>Confirm Joining Household</h2>

        <h4>Please confirm you want to join the household below.</h4>
        <hr />
<p>Would you like to join household</p>
<div>
    <a href="@Url.Action("JoinHousehold","Households")" class="btn btn-primary">Join Household</a>
    <a href="@Url.Action("Index","Home")" class="btn btn-danger">No Thanks</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
