@model jwhitehead_FinancialPortal.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password - Not Authorized";
}

<h2>@ViewBag.Title.</h2>


<br />
<br />
<div>
    <h4>Hello. Unfortunately, changing the password is not allowed in demo modes.</h4>
    <hr />
    <dl class="dl-horizontal"></dl>

    @Html.ActionLink("Back to Home", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
