@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="container-center animated slideInDown">

    <div class="panel panel-filled">
        <div class="panel-body">
            <!--I moved this from above the panel panel-filled div class. Also added style="margin-left: -12px;-->
            <div class="view-header">
                <div class="header-icon" style="margin-left: -12px;">
                    <i class="pe page-header-icon pe-7s-check"></i>
                </div>
                <div class="header-title" style="margin-left: -12px;">
                    <h3>Reset Password Confirmation</h3>
                    @*<small style="margin-left: 70px;">
                        Changes have been recorded
                    </small>*@
                </div>
            </div>
            <hr style="border-color: white;" />

                <p>
                    Your password has been reset. Please click below.
                </p>
            <div style="margin-top: 20px;">
                <a href="@Url.Action("Login","Account")" class="btn btn-accent">Login</a>
            </div>
        </div>
    </div>
</div>
