@model jwhitehead_FinancialPortal.Models.CodeFirst.Household

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
 
            <h2>Welcome!</h2>
            <p>
                Dashboard coming soon.
            </p>

            @*<a href="@Url.Action("InviteToJoin", "Households")" class="btn btn-primary">Send Invite to Join Household</a>*@
    
    </div>
</div>