<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>budgetapp.juddwhitehead.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://budgetapp.juddwhitehead.com:8172/MsDeploy.axd?site=jwhitehead-001-subsite5</MSDeployServiceURL>
    <DeployIisAppPath>jwhitehead-001-subsite5</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\jwhitehead-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="budgetApp" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A31ED3_budgetApp;Persist Security Info=True;User ID=DB_A31ED3_budgetApp_admin;Password=nuCar33r!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="jwhitehead_FinancialPortal.Models.ApplicationDbContext, jwhitehead-FinancialPortal" MigrationConfiguration="jwhitehead_FinancialPortal.Migrations.Configuration, jwhitehead-FinancialPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="budgetApp-Web.config Connection String">
      <ParameterValue>Data Source=SQL7001.site4now.net;Initial Catalog=DB_A31ED3_budgetApp;Persist Security Info=True;User ID=DB_A31ED3_budgetApp_admin;Password=nuCar33r!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>