/* FOR ALL ACCOUNT PAGE DIALOG WINDOWS */
#LoginWindow {
    margin: auto;
    width: 500px;
    height: auto;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 15px 0px;
    margin-top: 60px;
}

#LoginWindowBanner {
    background-color: #113409;
    border-style: none;
    border-radius: 12px 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
